 
   html {
       font-family: "Playfair Display" ;
       font-weight: lighter;
       margin:0px;
       padding: 0px;
   }
 
    /** Herencia **/
    %bordes{
        padding:5px;
        margin:1px;
        & before{
            list-style: round;
            list-style-position: inside;
        }  
    }
    
.boxMain{
    margin:auto;
    margin-top: 10px;
    width: 610px;
    height:550px;
    padding:10px;
}

.boxLogo{
    margin:auto;
    width: 200px;
    height: 200px;
    float:left;
}

.boxForm{
    margin: 0 0 0 10px;
    width: 400px;
    height: 120px;
    float:left;
    font-style:lighter;
}

.cabecera {
    margin-bottom: 40px;
    text-align: justify;
    font-size:small;    
}

.formulario{
    margin-top: 0px;
    width: 400px;
    height: 150px;
    font-style: bold;
    font-size: 14px;

}
  
.list{
    font-size: x-small;
    margin: 0px 0px 10px 0px;
    width: 300px;
    display: flex;
}

ul {
    list-style-type:circle;
    list-style: url(green-square.png);
}

li {
    color:darkgreen;
}
li p{
    color:black;
}

.buttonZone{
    font-size: x-small;
    margin: 0px 10px 10px 0px;
    width: 280px;
    display: flex;
}

.buttonSummit{
    width: 200px;
    height: 30px;
    margin-top: 15px;
    padding:6px 15px;
}

.checkNoEmail{
    margin-top: 20px;
}

footer{
    font-size: x-small;
    margin: 0px;
    width: 250px;
    display: flex;
}